body{
    margin: 2vh 5vw;
    background-color: #ffffff;
}
nav{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}
.nav-items{
    display: flex;
    margin-left: 15%;
    margin-right: 20%;
}
.nav-item{
    font-family: "poppins";
    font-size: 20px;
    font-weight: 100;
    padding: 0px 20px; 
   }
.active-item{
    color: #fe5e35;
    font-weight: 900;
    padding-left: 40px;

}
.intro-section{
    display: flex;
}
.headphone-div{
    display: flex;
    top:10px;
    margin-top: 5%;
    left: 20%;
    position: relative;
    
}
img[src="./images/headphones.jpg"]{
    width: 450px;
}
img[src="./images/discount.svg"]{
    width:180px;
}
img[src="./images/circles.svg" ]{
    width: 50px;
}
.discount{
   position: absolute; 
   left: -5%;
   margin-top: 45%;
  }

  .discount-content{
    top:50%;
    position:absolute;
    margin-left: 0vw;
    color: #ffffff;
    line-height: 10px;
  }
 p{
    text-align: left;
    position: relative;
    font-family: "poppins";
    font-size: 14px;
    color: #c5c5c5;
    padding-left: 3%;
    margin-top: 10%;
    width: 50vw;
 }
 h4,h3,h5{
    font-family: "poppins";
    padding-left: 3%;
 }
 h5{
    margin: 0px;

 }

 h3{
font-size:30px ;
    margin-bottom: 0%;
    margin-top: 5%;
 }
 h4{
    padding-bottom: 10px;
 }
 h1{
    font-family: "fredoka one";
    font-size: 65px;
    padding-left: 3%;
    margin: 0%;
 }
.sub-headline::before{
    content: url('/images/plus.svg') ;
    position: relative;
    top:28px;
    left:-15px;
    width:24px;
    height: 24px;
    display:block;
    border-radius: 12px;
    background-color: #fe5e35;

}
.sub-headline{
    font-size: 20px;
    padding-left: 80px;
    line-height: 0px;
}
.action-btn{
position: relative;
top:10px;
background-color: #fe5e35;
border-radius: 30px;
padding:10px 40px;
font-size: 20px;
font-family: "poppins";
color: #ffffff;
border-color: #fe5e35;
margin-left: 5%;
margin-top: 4%;

}
.right-section{
    padding-right: 5%;
   
}

.right-section>button{
    margin-left:48%;
    margin-top: 5%;
}
.left-section{
    margin-top: 3%;
}

.yellow-dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fbd104;
}
.tomato-dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fe5e35;
}
.black-dot{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #000000;
}
.dots{
    display: flex;
    justify-content: center;
    margin-left: 50%;
}
.dot{
    margin:10px 40px 0px 0px;
}
@media screen and (min-width: 1280px){
    nav{
        display: flex;
        justify-content: space-around;
    }
    h1{
        font-family: "fredoka one";
        font-size: 55px;
        padding-left: 3%;
        margin-top: 3%;
     }
     .right-section{
        padding-right: 15vw;
       
    }
    p{
        text-align: left;
        position: relative;
        font-family: "poppins";
        font-size: 14px;
        color: #c5c5c5;
        padding-left: 3%;
        margin-top: 10%;
        width: 40vw;
     }

}
@media screen and (max-width: 1280px) and (min-width:1024px){
    h1{
        font-family: "fredoka one";
        font-size: 50px;
        padding-left: 3%;
        margin-top: 5%;
     }
     nav{
        display: flex;      
        justify-content: space-around;
    }
}
@media screen and (max-width: 1024px) and (min-width:764px){
    h1{
        font-family: "fredoka one";
        font-size: 45px;
        padding-left: 3%;
        margin-top: 5%;
     }
     nav{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:764px){
    h1{
        font-family: "fredoka one";
        font-size: 35px;
        padding-left: 3%;
        margin-top: 5%;
     }
     nav{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }
    .nav-items{
        display: flex;
       
    }
    .intro-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .right-section{
        padding-right: 0%;
        justify-content: center;
        display: flex;
        flex-direction: column;
       
    }
    .headphone-div{
        display: flex;
        margin-top: 5%;
        left: 1%;
        position: relative;
        
    }
    .discount{
        position: absolute; 
        left: -5%;
        top: 2%;
       }
       .dots{
        display: flex;
        justify-content: center;
        margin-left: 20%;

    }
    .action-btn{
        position: relative;
        top:10px;       
        margin-top: 4%;
        right: 20%;
        }
    .left-section{
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 5%;
        }
        p{
            text-align: justify;
            width: 70vw;
        }
        .action-btns{
            margin-left: 20%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
}